body {
    font-family: "Poppins"
}

img {
    width: 100%;

}

.mobile994 {
    display: none;
}

.mobile {
    display: none;
}
 
/* hero */
.hero {
    position: relative;

}

.hero h1 {
    text-align: center;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 48px;
}

.red {
    color: #FD1A09;
}

.orange {
    color: #FF8C1D;
}

.container {
    width: 70%;
    margin: auto;
}

.container2 {
    width: 90%;
    margin: auto;
}

.hero-content {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}



.hero-content img {

    width: 15%;
    margin-right: 15px;

}

.hero-content p {
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
}

.hero-content p span {
    font-weight: bold;
}

.arrow {
    width: 150px;
    margin-top: -80px;
    z-index: 3;
    position: absolute;
}

.hero2 {
    display: flex;

}

.cta {
    display: block;
    margin: 35px auto;
    text-align: center;
    color: white;
    background-color: #34469E;
    width: 11%;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 8px;
}

/* results */

.results {
    background-color: #EBEBEB;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.results img {
    width: 100px;
    margin: 25px 50px;
}

.results p:nth-child(1) {
    font-size: 35px;
    font-weight: bold;
    line-height: 1.2;

}


.results p:last-child {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;

}

.results p:last-child span {
    font-size: 20px;
    font-weight: 400;

}


.title {
    font-size: 38px;
    color: black;
    text-align: center;
    margin-bottom: 15px;

}

.title2 {
    font-size: 30px;
    color: #FD1A09;
    text-align: center;
    margin-top: 0;
    line-height: 1.4;

}



h4 {
    color: #FF8C1D;
    font-weight: 20px;
}

.revolutionary-weight-loss {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #34469E;
    margin: 0;
}

.revolutionary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
}


.revolutionary-content h4 {
    font-size: 20px;
    line-height: 1.4;
}

.revolutionary-content p {
    color: white;
    line-height: 1.4;

}


.revol-bullets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin: 35px auto;
}

.revol-bullets-div h3 {
    background-color: #FD1A09;
    color: white;
    text-align: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    font-size: 20px;
    padding: 7px 0;
    margin-bottom: 0;
}

.revol-bullets-div div {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 15px;
 
}

.revol-bullets-div div img {

    max-width: 50px;
    max-height: 80px;
}

.r-2 {
    width: 27px;
    max-height: 80px;

}


/* ingr */


.ingr-grid {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    align-items: center;
}

.ingr img {
    width: 110px;
}

.center {
    margin-left: -50px;
}

.ingr p {
    margin: 0;
}

.center img {

    margin-left: -58px;
    margin-top: -50px;
}




/* banner */

.banner {
    position: relative;
    top: 70px;
    background-image: url(../images/black-banner_desktop.png);
    background-size: cover;
    padding: 15px 0px;
    margin-top: 30px;
    height: 700px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.banner .banner-content {
    background-color: #34469e;
    padding: 20px 0px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.banner h2 {
    text-align: center;
    font-size: 35px;
    line-height: 35px;
    color: white;
    text-transform: uppercase;
    padding: 0px 5px;
    margin: 0;
}

.banner .animated-button1 {
    background: #db3c28;
    font-weight: 600;
}

.banner p {
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 10px 0px;
    font-size: 17px;
}

.banner .order-button {
    text-align: center;
}


.banner {
    margin-bottom: 100px;
}




.banner .animated-button1 {
    background: #db3c28;
    font-weight: 800;
    font-size: 20px;
}

.btn-div {
    margin: 15px auto;
}

/* doc */

.doc {
    background-color: #EBEBEB;
    border-top: #34469E 1px dashed;
    border-bottom: #34469E 1px dashed;

}

.doc h2 {
    text-align: center;
    font-weight: 400;
    font-size: 38px;
    color: black;
    padding-top: 20px;
}

.doc-div {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 50px;
    margin-bottom: 35px;
    align-items: center;
}

.doc-text p:nth-child(1) {
    font-size: 28px;
    margin-bottom: 10px;
}

.doc-text p:last-child {
    line-height: 1.4;
}

.doc-text p:nth-child(2) {
    font-size: 22px;
    color: #34469E;
    margin-top: 0;
}

.doc-text p:nth-child(3) {
    font-size: 16px;
}

.doc-text img {
    width: 100px;
}

/* banner2 */
.banner2 {
    margin: 50px auto;
    position: relative;
}

.banner2-div {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.banner2-div h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
}


.last-div {
    background-color: #FCF1DD;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.last-div img {
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

.last-div p {
    font-size: 20px;
    margin-right: 8px;
    font-weight: 700;
    margin: 8px 8px 8px 8px;
    margin: 12px;

}

.results-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    gap: 15px;
}

.results-div div:first-child {
    display: flex;
    flex-direction: row;
    background-color: #FCF1DD;
    align-items: center;

}

.results-div div:first-child img {
    width: 140px;
    margin-right: 8px;

}

.results-div div:first-child p {
    font-size: 22px;
    color: #FD1A09;
    font-weight: 700;
}

.results-div div {
    padding: 10px;
    border-radius: 8px;
}

.results-div div:last-child {
    background-color: #FD1A09;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.results-div div:last-child img {
    width: 100px;
}

.results-div div:last-child p {
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-top: 0;

}


/* banner3 */

.steps-div {
    margin: 25px auto;
    position: relative;
}

.steps1 {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 20%;

}

.steps2 {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 20%;
}

.st {
    background-color: white;
    border-radius: 16px;
    padding: 20px;
}

.st:nth-child(1) {
    margin-bottom: 20px;
}

.st img {
    width: 100px;
    display: block;
    margin: auto;
}

.st p {
    text-align: center;
    line-height: 1.3;
    font-size: 14px;
}

.width {
    width: 25%;
}



/* xtra-burn */

.xtra-burn {
    margin-top: 50px;
}

.red2 {
    color: #C91B31;
}

.cta2 {
    display: block;
    margin: 35px 0;
    text-align: center;
    color: white;
    background-color: #34469E;
    width: 45%;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 8px;
}

.xtra-backgroud {
    background-color: white;
    opacity: 0.4;
}

/* .xtra-burn{
    background-image: url(../images/xtraburn2.png);
    z-index: 3;
    position: relative;
    background-size: cover;

} */
.xtra-ingr h3 {
    font-size: 18px;
}

.xtra-burn-div {
    display: grid;
    grid-template-columns: 0.8fr 0.6fr 1fr;
    gap: 15px;
    align-items: center;
}

.xtra-burn-div div:nth-child(1) {
    width: 60%;
    margin: auto;
}

.xtra-content p:first-child {
    font-size: 20px;
}

.xtra-content h3 {
    font-size: 28px;

}

.xtra-content ul {
    margin-left: 20px;
}

.xtra-content ul li {
    list-style-type: disc;
    font-size: 16px;
    margin-bottom: 7px;
}

.xtra-content {
    margin-left: -45px;
}

.xtra-ingr {
    border: 1px solid #C91B31;
    border-radius: 24px;

}

.xtra-ingr h3 {
    background-color: #C91B31;
    color: white;
    display: block;
    text-align: center;
    margin: 0;
    padding: 10px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;

}

.xtra-div {
    border-radius: 24px;

    display: flex;
    align-items: center;
    padding: 15px;

}

.xtra-div img {
    width: 130px;
}

.xtra-div div p {
    margin: 0;
}

.xtra-div div p:nth-child(1) {
    font-size: 16px;
}

.red-banner {
    z-index: 1;
    background-color: #C91B31;
    margin-top: 35px;
    position: relative;
}

.xtra-img {
    position: absolute;
    top: 0;
    right: 0;
    float: left;
    width: 14%;
    margin-top: -170px;
}

.back {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.red-banner h3 {
    font-size: 20px;
    color: white;
    text-align: center;
    margin: auto;
}

.red-banner h3 span {
    font-size: 40px;
    display: block;
    margin-bottom: 5px;
}

.instruction {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;

    border: 1px solid white;
    margin: 25px;
    border-radius: 24px;
    width: 60%;
    padding: 25px;
}

.instruction div {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.instruction div:nth-child(1) img {
    width: 45px;
}

.instruction div:last-child img {
    width: 125px;
}

.and {
    width: 70%;
    margin: auto;
}



/* reviews */

.reviews {
    margin-top: 75px;
    margin-bottom: 75px;

}

.swiper-div {
    /* padding: 25px; */
    height: 80%;
    width: 90%;
    margin: 0 auto;
}

.swiper {
    padding: 25px !important;
}


.swiper-div img:nth-child(1) {
    width: 130px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.swiper-div p {
    font-size: 16px;
    line-height: 1.2;
}

.name {
    text-align: center;
    font-size: 16px;
}

.stars {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.stars p {
    font-size: 12px;
    margin: 0;

}

.swiper-div .stars img {
    width: 70px;
    margin: 0;
    margin-right: 15px;
}


.swiper-wrapper {
    justify-content: stretch;
    height: auto !important;

}

.swiper-slide {
    height: auto !important;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #F7F7F7;
    border: 1px solid #D6D6D6;
    border-radius: 16px;


}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: black;
    font-size: 20px !important;
    font-weight: 900;
}

.icon {
    width: 35px;
    margin-bottom: -40px;
    margin-left: 20px;
}

.icon2 {
    width: 60px;
    margin-bottom: -40px;
    margin-left: 20px;
}



/* faq */
.faq-title {
    font-size: 38px;
    color: black;
    text-align: center;
    margin-bottom: 15px;
    display: block;
    border: #FD1A09 1px dashed;
    background-color: #F7F7F7;
    padding: 20px;
    color: #FD1A09;
    border-radius: 24px;
}


.faq ul {
    margin: auto;
    margin-top: 40px;
    width: 80%;
}

.faq ul li {
    margin-bottom: 22px;


}

.q {
    font-size: 18px;
    font-weight: 600;
    transition: 0.4s;
    cursor: pointer;

}

.q::before {
    content: "\271A";
    color: #FD1A09;
    font-size: 16px;
    margin-right: 10px;
    font-weight: 300;
}

.a {
    display: none;
    background-color: #FD1A09;
    color: white;
    font-size: 14px;
    padding: 20px 15px;
    font-weight: 400;
    width: 70%;
    line-height: 1.3;
    border-radius: 8px;
    max-height: 95px;
    transition: max-height 2s ease-out;

}

.active::before {
    content: "\268A";
    color: #FD1A09;
    font-size: 16px;

}






/* last-banner */


.last-banner {
    margin: 50px auto;
    position: relative;
}

.last-banner h2 {
    color: #fff2c9;
    text-shadow: black 1px 0 5px;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;

}

.last-banner h2 span {
    font-weight: 900;
    line-height: 1.4;
}

.last-banner-div {
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.last {
    text-align: center;
    margin: auto;
}


/* footer */
footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer ul li a {
    color: black;
    margin-right: 25px;

}



@media screen and (max-width: 1600px) {

    .hero,
    .results,
    .banner2,
    .how-to-use,
    .last-banner {
        width: 100% !important;
    }

    .hero h1 {
        margin-top: 30px;
    }

    .hero-content {
        position: absolute;
        top: 30%;
        left: 38%;
    }

    .arrow-div {
        width: 80%;
    }

    .xtra-img {
        position: absolute;
        top: 0;
        right: 0;
        float: left;
        width: 13%;
        margin-top: -99px;
    }
}


@media screen and (max-width: 1400px) {

    .revolutionary {
        width: 100% !important;

    }

    .revol-bullets {
        width: 90%;
        margin: auto;
    }

    .ingredients {
        width: 90%;
    }

    .xtra-img {
        position: absolute;
        top: 0;
        right: 0;
        float: left;
        width: 17%;
        margin-top: -124px;
    }

    .back {
        width: 80%;
        margin-top: 80px;
    }

    .and {
        width: 60%;
        margin: auto;
    }

    .faq ul {
        margin: auto;
        margin-top: 40px;
        width: 90%;
    }



}


@media screen and (max-width: 1200px) {
    .container {
        width: 80%;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero-content p {
        font-size: 27px;
        line-height: 1.2;
        text-align: center;
    }

    .hero-content {
        position: absolute;
        top: 30%;
        left: 35%;
    }

    .cta {
        width: 19%;
    }

    .arrow-div,
    .banner2 {
        width: 100%;
    }

    .doc-text img {
        width: 150px;
    }

    .st img {
        width: 80px;
    }

    .instruction {
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;
        border: 1px solid white;
        margin: 25px;
        border-radius: 24px;
        width: 70%;
        padding: 17px;
    }

    .last-div p {
        font-size: 18px;
    }

    .cta {
        width: 34%;
    }


}


@media screen and (max-width: 994px) {
    .container {
        width: 90%;
    }
    .ingr p {
        margin: 0; 
        width: 100%;
    }
    .revol-bullets-div div {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        background-color: #F7F7F7;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        padding: 15px;
        width: 80%;
        margin: auto;
    }
    
    .hero h1 {
        font-size: 35px;
    }

    .hero-content p {
        font-size: 24px;
    }

    .results p:nth-child(1) {
        font-size: 30px;
        font-weight: bold;
        line-height: 1.2;
    }

    .results img {
        width: 80px;
        margin: 25px 30px;
    }

    .results p:last-child {
        font-size: 20px;
    }

    .arrow {
        width: 119px;
        margin-top: -70px;
    }

    .revolutionary-content {
        width: 86%;

    }

    .last-banner h2 {
        font-size: 26px;
    }

    .last-banner-div {
        position: absolute;
        top: 70%;
    }

    .red-banner h3 span {
        font-size: 28px;
    }

    .red-banner h3 {
        font-size: 18px;
    }

    .back {
        flex-direction: column;
        padding: 20px;
    }

    .red-banner h3 {
        font-weight: 300;
    }

    .red-banner h3 span {
        font-weight: 700;
    }

    .desktop994 {
        display: none;
    }

    .mobile994 {
        display: block;
    }

    .instruction-mob img {
        width: 70%;
        display: block;
        margin: 20px auto;
    }

    .instruction-mob ul li {
        color: white;
        list-style-type: disc;
        margin-bottom: 10px;
    }

    .xtra-img {
        position: absolute;
        top: 0;
        right: 0;
        float: left;
        width: 20%;
        margin-top: -95px;
    }

    .xtra-div img {
        width: 85px;
    }

    .cta2 {
        width: 60%;
    }

    .xtra-burn-div div:nth-child(1) {
        width: 80%;
        margin: auto;
    }

    .st {
        background-color: white;
        border-radius: 16px;
        padding: 5px;
    }

    .st img {
        width: 65px;
    }

    .st p {
        text-align: center;
        line-height: 1.3;
        font-size: 12px;
    }

    .steps1,
    .steps2 {
        width: 22%;
    }


    .banner2-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;

    }

    .banner2 {
        margin-bottom: 120px;
    }

    .banner2-mob {
        margin-bottom: -80px;
    }

    .banner2-div h3 {
        background-color: #F7F7F7;
        display: block;
        width: 80%;
        padding: 10px;
        border-radius: 8px;
    }

    .ingr-grid {
        display: grid;
        grid-template-columns: 1fr 360px 1fr;
    }

    .center img {
        margin-left: 0;
    }

    .ingr-div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .ingr-grid {
        display: block;
    }

    .ingr-mob {
        width: 40%;
        display: block;
        margin: auto;
    }

    .ingr {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ingr img {
        width: 110px;

    }

    .revol-bullets {
        display: grid;
        grid-template-columns: 1fr;
    }

    .revol-bullets-div {
        width: 70%;
        margin: auto;
        background-color: #F7F7F7;
        border-radius: 26px;
    }

    .cta {
        width: 44%;
    }

    .revol-bullets-div h3 { 
        margin-bottom: 0;
        margin-top: 0;

    }
    .revolutionary-weight-loss { 
        margin-bottom: 40px;
    }
}


@media screen and (max-width: 768px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
 
    .hero-content,
    .hero h1 {
        position: unset;
        transform: unset;
    }
    .steps1 { 
        margin-top: 35px;
    }
    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .ingr-grid { 
        padding-bottom: 50px;
    }
    .hero-mob {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;

    }

    .hero-content img {
        width: 80%;
        margin-right: 0;
    }

    .hero-content p {
        font-size: 28px;
    }

    .margin-min {
        margin-top: -43px;
        position: relative;
        padding: 25px;
    }

    .results {
        display: grid;
        grid-template-areas:
            "one two"
            "three three";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    #one {
        grid-area: one;
        text-align: right;

    }

    #two {
        grid-area: two;
        margin: 0;
        margin-left: 45px;
    }

    #three {
        grid-area: three;
        text-align: center;

    }

    .results {
        border-top: #FD1A09 dashed 1px;
        border-bottom: #FD1A09 dashed 1px;

    }

    .revolutionary-weight-loss {
        display: block;
    }

    .doc-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .btn-see {
        text-align: right;

    }

    .see-more {
        padding-bottom: 40px;
        font-size: 12px;
        color: #34469E;
        font-weight: 700;
        text-decoration: underline;

    }

    .doc {
        padding-bottom: 50px;
    }

    .doc-text {
        margin: 0;
    }

    .doc-text2 {
        margin: 0;
        display: none;
    }

    .doc-mob-img {
        width: 80%;
        display: block;
        margin: auto;
        margin-top: -35px;
    }

    .how-to-use .title {
        color: rgb(255, 255, 255);
        z-index: 5;
        position: relative;
        margin-top: 150px;
    }

    .steps-div {
        margin-top: -81px;
    }

    .steps1,
    .steps2 {
        width: 80%;
        position: unset;
        transform: unset;
        margin: auto;
    }
    .steps1 { 
        margin-top: 20px;
    }
    .st {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
    }

    .st img {
        margin: 0;
        margin-right: 15px;
        width: 60px;

    }

    .st:nth-child(1) {
        margin-bottom: 0;
    }

    .xtra-burn-div {
        display: grid;
        grid-template-areas:
            "one1 two2"
            "three3 three3";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    #one1 {
        grid-area: one1;

    }

    #two2 {
        grid-area: two2;
    }

    #three3 {
        grid-area: three3;

    }

    .xtra-title {
        background-color: #C91B31;
        color: black;
        padding: 15px;
    }

    .xtra-title span {
        color: white;
    }

    .red2 {
        color: #C91B31;
        text-align: center;
        margin-left: 0;
    }

    .xtra-div img {
        width: 130px;
    }

    .xtra-img {
        position: absolute;
        top: 0;
        right: 0;
        float: left;
        width: 32%;
        margin-top: -123px;
    }








}

@media screen and (max-width: 415px) {


    .hero-mob {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    .hero-content {
        width: 85%;
    }

    .hero-content p,
    .hero h1 {
        font-size: 28px;
        font-weight: bold;
    }

    .hero-content img {
        width: 55%;
    }

    .margin-min {
        margin-top: -27px;
        position: relative;
        padding: 14px;
        width: 50%;
    }

    #one {
        grid-area: one;
        text-align: right;
        /* margin-right: -50px; */
        font-size: 22px;
    }

    #two {
        grid-area: two;
        margin: 0;
        margin-left: 45px;
    }

    #three {
        grid-area: three;
        text-align: left;
        margin: 20px auto;
        font-size: 16px;
    }

    .title {
        font-size: 22px;
    }

    .title2 {
        font-size: 20px;
    }

    .revol-bullets {
        margin-bottom: 60px;

    }

    .revol-bullets-div {
        width: 90%;
    }

    .revol-bullets-div div {

        box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.1);
    }

    .revol-bullets {
        gap: 20px;
    }

    .revol-bullets-div h3 {
        font-size: 16px;

    }

    .ingr p {
        margin-top: 0;
        font-size: 13px;
    }

    .doc-text p:nth-child(1) {
        font-size: 16px;
    }

    .doc-text p:nth-child(2) {
        font-size: 16px;
    }

    .doc-div {
        gap: 15px
    }

    .doc-text,
    .doc-text2 {
        line-height: 1.4;
        font-size: 14px;
    }

    .banner2-div h3 {
        font-size: 22px;
        width: 100%;
    }

    .results-div div:first-child p {
        font-size: 14px;
    }

    .results-div div:last-child p {
        font-size: 14px;
    }

    .last-div p {
        font-size: 14px;
    }

    .banner2-div {
        width: 90%;
    }

    .results-div div:first-child img {
        width: 80px;
    }

    .results-div div:last-child img {
        width: 60px;
    }

    .st p {
        text-align: left;
    }

    .width {
        width: 75%;
        font-size: 16px;
    }

    .xtra-content h3 {
        font-size: 22px;
    }

    .xtra-content ul li {
        list-style-type: disc;
        font-size: 14px;
        margin-bottom: 7px;
    }

    .cta {
        font-size: 16px;
    }

    .xtra-content {
        margin-left: -23px;
    }

    .xtra-ingr h3 {
        font-size: 16px;
    }

    .red-banner h3 {
        font-size: 14px;
    }

    .instruction-mob ul li {
        color: white;
        list-style-type: disc;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 200;
    }


    .swiper-div p {
        font-size: 14px;
    }

    .q {
        font-size: 15px;
    }

    .a {
        font-size: 12px;
        width: 90%;
    }

    .cta2 {
        width: 76%;
        font-size: 16px;

    }

    footer ul {
        margin-bottom: 20px;
    }

    .faq ul {
        width: 100%;
    }

    .revolutionary-content h4 {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 0;
    }

    .ingr-grid {
        display: block;
        padding-bottom: 50px;
    }

    .doc h2 {
        font-size: 22px;

    }

    .xtra-img { 
        width: 38%;
        margin-top: -98px;
    }


}